<div>
  <div class="overlay">
    <div class="row">
      <% @lists.each do |list| %>
        <div class="col-md-4">
          <div class="list-card">
            <%= link_to list_path(list) do %>
            <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
              <h2 class="list-name"><%= list.name %></h2>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

 <button class="button"> <%= link_to "Add List", new_list_path %> </button>
</div>
