body {
  background-image: url("https://cache.desktopnexus.com/thumbseg/2214/2214380-bigthumbnail.jpg"); /* Replace with the path to your background image */
  background-size: cover;
  opacity: 0.9; /* Adjust the opacity as needed */
}
